# Analiza rezultatov tekmovanja iz logike

Tukaj bom analizirala rezultate tekmovanja iz logike, ki se nahajajo na spletni strani https://zotks.si/priznanja/logika/.

Za začetek si oglejmo vse rezultate - vse prejemnike zlatih priznanj v šolskih letih 2020/21 - 2023/24.

In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

rezultati = pd.read_csv('datoteka.csv')
rezultati.index = rezultati.index + 1
rezultati

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
1,1. letnik,Primož Markovič,Ana Grozdanić Pavlin,Gimnazija Bežigrad,68,1
2,1. letnik,Gal Fabjan,Savina Brcar,Gimnazija Bežigrad,66.5,2
3,1. letnik,Tine Šalamon,Valentina Herbaj,Gimnazija Murska Sobota,66,3
4,1. letnik,Ivan Tušek,Manca Čadež,Gimnazija Škofja Loka,64.5,4
5,1. letnik,Janoš Ivanec,Hanka Lebič,Gimnazija Vič,64,5
...,...,...,...,...,...,...
963,4. letnik,Kaja Grošelj,Milan Zeman,"Zavod sv. Stanislava za vzgojo, izobraževanje ...",46,17
964,4. letnik,Julija Brecelj,Milan Zeman,"Zavod sv. Stanislava za vzgojo, izobraževanje ...",46,17
965,4. letnik,Lana Prijon,Savina Brcar,Gimnazija Bežigrad,46,17
966,4. letnik,Sara Mihalič,Benjamin Tomažič,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",45.5,21
967,4. letnik,Živa Strgar,Mateja Tomažič,"Srednja vzgojiteljska šola, gimnazija in umetn...",45.5,21

Ker je to precej nepregledno, bi si jih bilo bolj pametno ogledati po posameznih tekmovalnih skupinah. Oglejmo si najprej katere tekmovalne skupine sploh obstajajo, nato pa poglejmo začetnih nekaj mest za vsako skupino.

In [39]:
skupine = rezultati['Skupina'].unique()
razdeljeni_podatki = {skupina: rezultati[rezultati['Skupina'] == skupina] for skupina in skupine}

print(skupine)
print()

for skupina, data in razdeljeni_podatki.items():
    print(f"Podatki za {skupina}:")
    print(data.head().to_string(index=False))
    print()

['1. letnik' '2. letnik' '3. letnik' '4. letnik' '7. razred' '8. razred'
 '9. razred']

Podatki za 1. letnik:
  Skupina      Tekmovalec               Mentor                    Šola Točke  Mesto
1. letnik Primož Markovič Ana Grozdanić Pavlin      Gimnazija Bežigrad    68      1
1. letnik      Gal Fabjan         Savina Brcar      Gimnazija Bežigrad  66.5      2
1. letnik    Tine Šalamon     Valentina Herbaj Gimnazija Murska Sobota    66      3
1. letnik      Ivan Tušek          Manca Čadež   Gimnazija Škofja Loka  64.5      4
1. letnik    Janoš Ivanec          Hanka Lebič           Gimnazija Vič    64      5

Podatki za 2. letnik:
  Skupina     Tekmovalec         Mentor                                                                          Šola Točke  Mesto
2. letnik Katrina Žganec     Špela Tola                                                            Gimnazija Bežigrad    68      1
2. letnik Florjana Benec      Jana Kete                                                    Škofijska gimnazija Vipava    67      2
2. letnik   Tadej Zelenc Melita Prezelj                                                  Gimnazija Jurija Vege Idrija    67      2
2. letnik Svit Miklavčič    Hanka Lebič                                                                 Gimnazija Vič    65      4
2. letnik   Julija Golež    Saša Kelhar Zavod sv. Frančiška Saleškega za vzgojo, izobraževanje in kulturne dejavnosti    64      5

Podatki za 3. letnik:
  Skupina           Tekmovalec               Mentor                              Šola Točke  Mesto
3. letnik        Sara Ferreira          Jaka Kavčič             Gimnazija Škofja Loka    65      1
3. letnik          Maša Mežnar Jana Mahnič Šterling                   Gimnazija Koper    63      2
3. letnik Aleksander Kosanović       Janja Jakončič                Gimnazija Bežigrad    63      2
3. letnik          Tjaša Novak        Mitja Bončina Gimnazija in srednja šola Kočevje    63      2
3. letnik          Aljaž Erman           Rok Škufca                   Gimnazija Kranj    62      5

Podatki za 4. letnik:
  Skupina       Tekmovalec             Mentor                                                         Šola Točke  Mesto
4. letnik   Brest Lenarčič      Tatjana Cirer                                Šolski center Rogaška Slatina    67      1
4. letnik    Sofija Štefan Irena Fabič Petrač                                              Gimnazija Koper    64      2
4. letnik       Filip Zver    Natalija Horvat                          Gimnazija Franca Miklošiča Ljutomer    63      3
4. letnik Žan Pustoslemšek        Simona Vreš Šolski center Ravne na Koroškem, Gimnazija Ravne na Koroškem    63      3
4. letnik      Luka Urbanc       Urška Markun                                           Gimnazija Bežigrad    63      3

Podatki za 7. razred:
  Skupina        Tekmovalec          Mentor                                       Šola Točke  Mesto
7. razred       Lovro Logar Ana Nuša Rigler Osnovna šola Primoža Trubarja Velike Lašče  68.5      1
7. razred       Anže Hvasti   Tihana Smolej                         Osnovna šola Naklo  67.5      2
7. razred Olivija Meta Šega    Teja Koprivc             Osnovna šola Valentina Vodnika  67.5      2
7. razred   Iza Džuzdanović  Marjanca Komar       Osnovna šola Franceta Prešerna Kranj  66.5      4
7. razred      Darija Kušej    Anja Smrtnik     Osnovna šola Franceta Bevka, Ljubljana  66.5      4

Podatki za 8. razred:
  Skupina     Tekmovalec                 Mentor                                           Šola Točke  Mesto
8. razred  Hana Zupančič      Kristina Kolbezen                           Osnovna šola Vrhovci  54.5      1
8. razred       Taj Birk             Uroš Medar                      Osnovna šola Danile Kumar  50.5      2
8. razred   Matic Pauman     Milena Čakš Karpov Osnovna šola Antona Ingoliča Spodnja Polskava   50.5      2
8. razred Žan Štefan Buh Anja Šmid Pustoslemšek                      Osnovna šola Orehek Kranj    50      4
8. razred    Lara Rodman       Tatjana Boscarol      Osnovna šola Milojke Štrukelj Nova Gorica    49      5

Podatki za 9. razred:
  Skupina        Tekmovalec         Mentor                                 Šola Točke  Mesto
9. razred      Andraž Čadež Nataša Šircelj Osnovna šola Šmartno pod Šmarno goro    59      1
9. razred       Žan Mesarič Nataša Jerebic                Osnovna šola Beltinci    53      2
9. razred         Rok Živec    Mojca Sosič  Osnovna šola Srečka Kosovela Sežana  51.5      3
9. razred  Tjaša Dobrečevič  Helena Kurent     Osnovna šola Prežihovega Voranca    51      4
9. razred Zala Žlebir Kožuh   Tanja Lakner     Osnovna šola Leskovec pri Krškem  49.5      5

Za lažjo obdelavo podatkov vsako skupino shranimo v svojo csv datoteko.

In [36]:
for skupina, data in razdeljeni_podatki.items():
    ime_datoteke = f"podatki_{skupina.replace('.', '').replace(' ', '_').lower()}.csv"
    data.to_csv(ime_datoteke, index=False)
    print(f"Podatki za {skupina} so shranjeni v datoteko {ime_datoteke}.")

Podatki za 1. letnik so shranjeni v datoteko podatki_1_letnik.csv.
Podatki za 2. letnik so shranjeni v datoteko podatki_2_letnik.csv.
Podatki za 3. letnik so shranjeni v datoteko podatki_3_letnik.csv.
Podatki za 4. letnik so shranjeni v datoteko podatki_4_letnik.csv.
Podatki za 7. razred so shranjeni v datoteko podatki_7_razred.csv.
Podatki za 8. razred so shranjeni v datoteko podatki_8_razred.csv.
Podatki za 9. razred so shranjeni v datoteko podatki_9_razred.csv.

Zdaj lahko obravnavamo vsako skupino posebej. Ker sem podatke pobrala iz celotne spletne strani, so podatki za več šolskih let - obravnavala bom kar več let skupaj (torej bom ločila le glede na tekmovalno skupino). 

Da ne bo preveč ponavljanja, bom obravnavala le rezultate gimnazijcev (osnovno šolo bom torej izpustila).

In [50]:
rezultati_1_letnik = pd.read_csv('podatki_1_letnik.csv')
rezultati_1_letnik.index = rezultati_1_letnik.index + 1
rezultati_1_letnik

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
1,1. letnik,Primož Markovič,Ana Grozdanić Pavlin,Gimnazija Bežigrad,68.0,1
2,1. letnik,Gal Fabjan,Savina Brcar,Gimnazija Bežigrad,66.5,2
3,1. letnik,Tine Šalamon,Valentina Herbaj,Gimnazija Murska Sobota,66.0,3
4,1. letnik,Ivan Tušek,Manca Čadež,Gimnazija Škofja Loka,64.5,4
5,1. letnik,Janoš Ivanec,Hanka Lebič,Gimnazija Vič,64.0,5
...,...,...,...,...,...,...
95,1. letnik,Tinej Rajh,Vinko Medic,"Šolski center Novo mesto, Srednja elektro šola...",52.5,22
96,1. letnik,Lucija Vrbinc,Urška Ogrinc,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",52.0,25
97,1. letnik,Krištof Bučar,Urška Ogrinc,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",51.5,26
98,1. letnik,Matic Pogorelec,Vojko Brantuša,II. gimnazija Maribor,51.0,27
99,1. letnik,Maruša Gorkič,Elena Rudolf,Srednja ekonomska šola in gimnazija Maribor,51.0,27

In [51]:
rezultati_2_letnik = pd.read_csv('podatki_2_letnik.csv')
rezultati_2_letnik.index = rezultati_2_letnik.index + 1
rezultati_2_letnik

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
1,2. letnik,Katrina Žganec,Špela Tola,Gimnazija Bežigrad,68.0,1
2,2. letnik,Florjana Benec,Jana Kete,Škofijska gimnazija Vipava,67.0,2
3,2. letnik,Tadej Zelenc,Melita Prezelj,Gimnazija Jurija Vege Idrija,67.0,2
4,2. letnik,Svit Miklavčič,Hanka Lebič,Gimnazija Vič,65.0,4
5,2. letnik,Julija Golež,Saša Kelhar,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",64.0,5
...,...,...,...,...,...,...
90,2. letnik,Klara Demšar,Tjaša Novak Lavriša,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",59.0,20
91,2. letnik,Tadej Vovk,Miha Šušteršič,Škofijska gimnazija Vipava,57.5,22
92,2. letnik,Nina Gerič,Tadeja Pucko,Gimnazija Murska Sobota,57.5,22
93,2. letnik,Val Pšeničnik,Tatjana Cirer,Šolski center Rogaška Slatina,57.0,24
94,2. letnik,Timeja Hojak,Mojca Zgonik Bizjak,Gimnazija Nova Gorica,56.5,25

In [53]:
rezultati_3_letnik = pd.read_csv('podatki_3_letnik.csv')
rezultati_3_letnik.index = rezultati_3_letnik.index + 1
rezultati_3_letnik

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
1,3. letnik,Sara Ferreira,Jaka Kavčič,Gimnazija Škofja Loka,65.0,1
2,3. letnik,Maša Mežnar,Jana Mahnič Šterling,Gimnazija Koper,63.0,2
3,3. letnik,Aleksander Kosanović,Janja Jakončič,Gimnazija Bežigrad,63.0,2
4,3. letnik,Tjaša Novak,Mitja Bončina,Gimnazija in srednja šola Kočevje,63.0,2
5,3. letnik,Aljaž Erman,Rok Škufca,Gimnazija Kranj,62.0,5
...,...,...,...,...,...,...
83,3. letnik,Patrik Potočnik,Eva Jug,Gimnazija Škofja Loka,44.5,11
84,3. letnik,Zara Kejžar,Helena Kapus,Gimnazija Kranj,44.0,12
85,3. letnik,Neo Mistral,Vilko Domajnko,Gimnazija Bežigrad,43.5,13
86,3. letnik,Maxim Cosovici,Romana Vrtačič,Gimnazija Vič,43.5,13
87,3. letnik,Enej Lah,Urška Markun,Gimnazija Bežigrad,43.0,15

In [54]:
rezultati_4_letnik = pd.read_csv('podatki_4_letnik.csv')
rezultati_4_letnik.index = rezultati_4_letnik.index + 1
rezultati_4_letnik

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
1,4. letnik,Brest Lenarčič,Tatjana Cirer,Šolski center Rogaška Slatina,67.0,1
2,4. letnik,Sofija Štefan,Irena Fabič Petrač,Gimnazija Koper,64.0,2
3,4. letnik,Filip Zver,Natalija Horvat,Gimnazija Franca Miklošiča Ljutomer,63.0,3
4,4. letnik,Žan Pustoslemšek,Simona Vreš,"Šolski center Ravne na Koroškem, Gimnazija Rav...",63.0,3
5,4. letnik,Luka Urbanc,Urška Markun,Gimnazija Bežigrad,63.0,3
...,...,...,...,...,...,...
89,4. letnik,Kaja Grošelj,Milan Zeman,"Zavod sv. Stanislava za vzgojo, izobraževanje ...",46.0,17
90,4. letnik,Julija Brecelj,Milan Zeman,"Zavod sv. Stanislava za vzgojo, izobraževanje ...",46.0,17
91,4. letnik,Lana Prijon,Savina Brcar,Gimnazija Bežigrad,46.0,17
92,4. letnik,Sara Mihalič,Benjamin Tomažič,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",45.5,21
93,4. letnik,Živa Strgar,Mateja Tomažič,"Srednja vzgojiteljska šola, gimnazija in umetn...",45.5,21

Rezultate 1. letnikov bom sedaj razvrstila padajoče glede na število točk. Podobno bi se dalo za vse letnike, vendar nam ta informacija ne pove veliko, poglejmo raje kakšno bolj zanimivo stvar.

In [55]:
rezultati_po_tockah_1 = rezultati_1_letnik.sort_values('Točke', ascending=False)
rezultati_po_tockah_1

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
72,1. letnik,Val Bajc,Urška Ogrinc,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",71.0,1
73,1. letnik,Sofija Štefan,Danica Jereb,Gimnazija Koper,70.0,2
1,1. letnik,Primož Markovič,Ana Grozdanić Pavlin,Gimnazija Bežigrad,68.0,1
2,1. letnik,Gal Fabjan,Savina Brcar,Gimnazija Bežigrad,66.5,2
3,1. letnik,Tine Šalamon,Valentina Herbaj,Gimnazija Murska Sobota,66.0,3
...,...,...,...,...,...,...
67,1. letnik,Lara Stoilov Spasova,Mojca Lokar,Gimnazija Kranj,51.0,16
99,1. letnik,Maruša Gorkič,Elena Rudolf,Srednja ekonomska šola in gimnazija Maribor,51.0,27
69,1. letnik,Sara Ferreira,Manca Čadež,Gimnazija Škofja Loka,50.5,18
71,1. letnik,Žiga Vučajnk,Alojz Robnik,I. gimnazija v Celju,50.5,18
70,1. letnik,Manca Pristavec,Dušan Kavka,Gimnazija in srednja šola Rudolfa Maistra Kamnik,50.5,18

Poglejmo zdaj povprečje točk vseh dijakov 1. - 4. letnikov, ki so dobili zlato priznanje (prejemniki zlatega priznanja so kar vsi zajeti podatki), zaokroženo na dve decimalki natančno.

In [112]:
povprecje_tock_1_letnik = rezultati_1_letnik['Točke'].mean()
povprecje_tock_2_letnik = rezultati_2_letnik['Točke'].mean()
povprecje_tock_3_letnik = rezultati_3_letnik['Točke'].mean()
povprecje_tock_4_letnik = rezultati_4_letnik['Točke'].mean()
print(f"Povprečja točk vseh dijakov 1. - 4. letnikov, ki so prejeli zlato priznanje, so: {povprecje_tock_1_letnik:.2f}, {povprecje_tock_2_letnik:.2f}, {povprecje_tock_3_letnik:.2f} in {povprecje_tock_4_letnik:.2f}.")

Povprečja točk vseh dijakov 1. - 4. letnikov, ki so prejeli zlato priznanje, so: 57.86, 60.70, 52.94 in 54.84.

Najdimo tekmovalce, ki so v svoji tekmovalni skupini dobili največ točk.

In [107]:
najvec_tock_1_letnik_indeks = rezultati_1_letnik['Točke'].idxmax()
najboljsi_tekmovalec_1_letnik = rezultati_1_letnik.loc[najvec_tock_1_letnik_indeks]
#print("Tekmovalec 1. letnika, ki je dosegel največ točk:")
#print(najboljsi_tekmovalec_1_letnik.to_frame())
najboljsi_tekmovalec_1_letnik.to_frame().T

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
72,1. letnik,Val Bajc,Urška Ogrinc,"Zavod sv. Frančiška Saleškega za vzgojo, izobr...",71.0,1

In [105]:
najvec_tock_2_letnik_indeks = rezultati_2_letnik['Točke'].idxmax()
najboljsi_tekmovalec_2_letnik = rezultati_2_letnik.loc[najvec_tock_2_letnik_indeks]
#print("Tekmovalec 2. letnika, ki je dosegel največ točk:")
#print(najboljsi_tekmovalec_2_letnik.to_frame())
najboljsi_tekmovalec_2_letnik.to_frame().T

      Skupina      Tekmovalec          Mentor                Šola Točke Mesto
70  2. letnik  Lenart Dolinar  Vilko Domajnko  Gimnazija Bežigrad  72.0     1

In [103]:
najvec_tock_3_letnik_indeks = rezultati_3_letnik['Točke'].idxmax()
najboljsi_tekmovalec_3_letnik = rezultati_3_letnik.loc[najvec_tock_3_letnik_indeks]
#print("Tekmovalec 3. letnika, ki je dosegel največ točk:")
#print(najboljsi_tekmovalec_3_letnik.to_frame())
najboljsi_tekmovalec_3_letnik.to_frame().T

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
30,3. letnik,Filip Zver,Natalija Horvat,Gimnazija Franca Miklošiča Ljutomer,70.0,1

In [106]:
najvec_tock_4_letnik_indeks = rezultati_4_letnik['Točke'].idxmax()
najboljsi_tekmovalec_4_letnik = rezultati_4_letnik.loc[najvec_tock_4_letnik_indeks]
#print("Tekmovalec 4. letnika, ki je dosegel največ točk:")
#print(najboljsi_tekmovalec_4_letnik.to_frame())
najboljsi_tekmovalec_4_letnik.to_frame().T

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
52,4. letnik,Rok Tadej Brunšek,Silvestra Jevšenak,"Šolski center Velenje, Gimnazija",70.0,1

Zdaj pa med vsemi tekmovalci najdimo dobitelja največ točk.

In [110]:
rezultati['Točke'] = pd.to_numeric(rezultati['Točke'])
najvec_tock_vsi_indeks = rezultati['Točke'].idxmax()
najboljsi_tekmovalec_vsi = rezultati.loc[najvec_tock_vsi_indeks]
#print("Tekmovalec, ki je dosegel največ točk:")
#print(najboljsi_tekmovalec_vsi.to_frame())
najboljsi_tekmovalec_vsi.to_frame().T

       Skupina      Tekmovalec          Mentor                Šola Točke Mesto
906  2. letnik  Lenart Dolinar  Vilko Domajnko  Gimnazija Bežigrad  72.0     1

Poiščimo še tekmovalca z najmanj točkami med dobitelji zlatih priznanj.

In [111]:
najmanj_tock_vsi_indeks = rezultati['Točke'].idxmin()
najslabsi_tekmovalec_vsi = rezultati.loc[najmanj_tock_vsi_indeks]
najslabsi_tekmovalec_vsi.to_frame().T

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
226,8. razred,Luka Vincek,Maja Kušar,Osnovna šola Toneta Okrogarja,38.0,37

Moram poudariti, da se je ta tekmovalec vseeno odlično odrezal, saj je še zmeraj osvojil zlato priznanje.

O točkah smo povedali dovolj, poglejmo zdaj kako so se odrezali učenci/dijaki posameznih šol.
Ker sem sama hodila na Gimnazijo Bežigrad, me zanima število dobitnikov zlatih priznanj iz te šole.

In [117]:
bezigrad = rezultati[rezultati['Šola'].str.contains('Gimnazija Bežigrad')]
bezigrad

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
1,1. letnik,Primož Markovič,Ana Grozdanić Pavlin,Gimnazija Bežigrad,68.0,1
2,1. letnik,Gal Fabjan,Savina Brcar,Gimnazija Bežigrad,66.5,2
7,1. letnik,Dora Ivana Šega,Ana Grozdanić Pavlin,Gimnazija Bežigrad,63.0,7
10,1. letnik,Natan Vesnaver,Jasna Kos,Gimnazija Bežigrad,62.0,10
13,1. letnik,Veronika Stegel,Ana Grozdanić Pavlin,Gimnazija Bežigrad,59.0,13
...,...,...,...,...,...,...
945,3. letnik,Enej Lah,Urška Markun,Gimnazija Bežigrad,43.0,15
950,4. letnik,Žiga Kmecl,Urška Rihtaršič,Gimnazija Bežigrad,55.0,5
954,4. letnik,Jasmina Kajtazović,Bojana Dvoržak,Gimnazija Bežigrad,49.0,9
960,4. letnik,Lea Stražišar,Bojana Dvoržak,Gimnazija Bežigrad,46.5,14
965,4. letnik,Lana Prijon,Savina Brcar,Gimnazija Bežigrad,46.0,17

In [118]:
stevilo_zlatih_bezi = bezigrad.shape[0]
stevilo_zlatih_bezi

70

Poglejmo zdaj, katera šola ima največ nagrajencev.

In [147]:
stevilo_nagrajencev_po_solah = rezultati.groupby('Šola').size()
stevilo_nagrajencev_po_solah.to_frame(name='Število nagrajencev').sort_values(by='Število nagrajencev', ascending=False)

                                          Število nagrajencev
Šola
Gimnazija Bežigrad                                         70
Gimnazija Vič                                              28
II. gimnazija Maribor                                      26
Gimnazija Kranj                                            24
Gimnazija Škofja Loka                                      19
...                                                       ...
Osnovna šola Medvode                                        1
Osnovna šola Mirana Jarca Črnomelj                          1
Osnovna šola Miroslava Vilharja Postojna                    1
Osnovna šola Mozirje                                        1
Osnovna šola Matije Čopa Kranj                              1

[264 rows x 1 columns]

In [153]:
najvec_sola = stevilo_nagrajencev_po_solah.idxmax()
najvec_nagrajencev = stevilo_nagrajencev_po_solah.max()


odg = pd.DataFrame({'Šola': [najvec_sola], 'Število nagrajencev': [najvec_nagrajencev]}, index=None)
odg

                 Šola  Število nagrajencev
0  Gimnazija Bežigrad                   70

Opazimo, da ima Gimnazija Bežigrad največ (70) nagrajencev. Počasi ji sledi Gimnazija Vič z 28 nagrajenci.

Zanima me, če se kje pojavi OŠ, ki sem jo obiskovala - Osnovna šola Primoža Trubarja Velike Lašče.

In [154]:
osptvl = rezultati[rezultati['Šola'].str.contains('Osnovna šola Primoža Trubarja Velike Lašče')]
osptvl

,Skupina,Tekmovalec,Mentor,Šola,Točke,Mesto
118,7. razred,Lovro Logar,Ana Nuša Rigler,Osnovna šola Primoža Trubarja Velike Lašče,68.5,1

Poglejmo si še, kateri mentor se največkrat pojavi.